<h2>Time line</h2>

 <%= link_to new_article_path do %>
<div class="button">
<h3>ツイートをする</h3>
</div>
<% end %>

<ul>
  <% @articles.each do |article|%>

    <%= link_to article_path(article.id) do %>
      <li>
      <%= article.title + 'さんのツイート' %><br>
      <%= article.body %>
      </li>
    <% end %>
  <% end %>

</ul>